@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "الأشتراك";
}

<h2 style="margin:50px 55px 0px 0">الأشتراك</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label", @style = "margin-top:20px" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @style = "margin-bottom:20px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserType, new { @class = "col-md-2 control-label", @style = "margin-top:20px" })
        <div class="col-md-10">
            @Html.DropDownList("UserType",null,new { @class="form-control", @style = "margin-bottom:20px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", @style = "margin-top:20px" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "margin-bottom:20px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style = "margin-top:20px" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "margin-bottom:20px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", @style = "margin-top:20px" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "margin-bottom:20px" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" >
            <input type="submit" class="btn btn-success" value="أشتراك"  style="margin:50px 0px 55px  0"/>
        </div>
    </div>
}
<div class="row" style="width:100% ;height:100%">
    <a href="#" style="color:white">.</a>
</div>